@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/pt-serif');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--inter);
}
:root{
    --inter : 'Inter', sans-serif;
    --serif : 'PT Serif', sans-serif;
}
.logo{
    font-size: 3rem;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

header{
    width: 100%;;
    padding: 0 2.5%;
    margin: auto;
    height: 8rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
    z-index: 11;
    border-bottom: 1px solid silver;
}
header img.logo{
    width: 15rem;
    background: grey;
    height: 5rem;
}
header nav {
    display: flex;
    gap: 3rem;
    margin-left: auto;
    width: max-content;
}
header nav a{
    text-decoration: none;
    cursor: pointer;
}
.hero{
    display: flex;
    gap: 8.1rem;
    width: 100%;
    align-items: center;
    max-width: 112.6rem;
    margin: auto;
    margin-top: 3.4rem;
}
.hero .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .left div{
    width: 50.7rem;
    height: 50.7rem;
    border-radius: 100%;
    background: #bcbcbc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero .left img{
    z-index: 1;
    width: 48.9rem;
    height: 73.2rem;
    position: relative;
}
.hero .right h2{
    font-size: 2rem;
    color: #A0A79A;
    font-family: var(--serif);
    font-weight: 400;

    margin-bottom: 2rem;
}
.hero .right h1{
    font-size: 7.2rem;
    font-family: var(--serif);
    font-weight: 400;
    line-height: 110%;
    color: #333333;
    margin-bottom: 2rem;
}
.paragraph,
.hero .right p{
    font-size: 1.8rem;
    color: #A0A79A;
}
.hero .right p{
    margin-bottom: 6.4rem;
}
.hero .right .buttons{
    display: flex;
    align-items: center;
}
.why-choose-us .row .card button,
.hero .right .buttons button{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    color: #000;
    background: transparent;
    padding: 1.3rem 2.4rem;
    border: 0;
}
.why-choose-us .row .card button,
.hero .right .buttons button:nth-child(1){
    background: #000;
    color: white;
    padding: 1.3rem 3.5rem;
    border-radius: .5rem;
}
.ratingSection .ratings,
.hero .right .ratings{
    display: flex;
    align-items: center;
    gap: 4.9rem;
    margin-top: 4.2rem;
}
.ratingSection .ratings img,
.hero .right .ratings img{
position: absolute;
    top: .9rem;
    left: 0;
}
.ratingSection .ratings div,
.hero .right .ratings div{
    padding-left: 3.4rem;
    position: relative;
}
.ratingSection .ratings h3,
.hero .right .ratings h3{
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 145%;
}

.why-choose-us{
    width: 95%;
    margin: auto;
    padding-top: 6.8rem;
    max-width: 118rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-choose-us h2{
    font-size: 4.8rem;
    font-family: var(--serif);
    color: #333333;
    font-weight: 400;
    text-align: center;
    position: relative;
    width: max-content;
    margin: auto;
    margin-bottom: 2.1rem;
}
.why-choose-us h2 img{
    position: absolute;
    right: 5.8rem;
    width: 15.4rem;
    bottom: .2rem;
}
.why-choose-us > p{
    max-width: 52.6rem;
}
.why-choose-us .row{
    display: flex;
    gap: 2rem;
    margin-top: 6rem;
    align-items: center;
}
.why-choose-us .row .card{
    width: 38rem;
    padding: 3.2rem 2.6rem 4.1rem 4.1rem;
    background: #F0EFEA;
    border-radius: .5rem;
}
.why-choose-us.orders .row{
    align-items: stretch;
}
.why-choose-us.orders .row .card{
    padding: 2.6rem;
}
.why-choose-us.orders .row .card button{
    width: 100%;
    justify-content: center;
}
.why-choose-us.orders .row .card button:last-child{
    margin-top: 1rem;
    background: red;
}
.why-choose-us .row .card .icon{
    width: 5.8rem;
    height: 5.8rem;
    background: #CDD5CA;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.why-choose-us .row .card .icon img{
    width: 3rem;
    height: auto;
}
.why-choose-us .row .card:nth-child(3) .icon img{
    width: 5.8rem;
}
.why-choose-us .row .card h2{
    font-size: 2.5rem;
}
.why-choose-us .row .card select{
    padding: 1.6rem;
    margin: 1rem 0;
    width: 100%;
}
.why-choose-us .row .card p.orderStatus{
    font-size: 2rem;
    color: #333;
    margin-top: 2rem;
}
.why-choose-us .row .card select.order-Processing{
    background: red;
    border: 0;
    color: white;
}
.why-choose-us .row .card select.order-Completed{
    border: 0;
background: green;
color: white;
}
.why-choose-us .row .card h3{
    margin-top: 2rem;
    margin-bottom: 1.1rem;
    font-size: 2.2rem;
    color: #333333;
    font-weight: bold;
}
.ratingSection{
    gap: 6.6rem;
    justify-content: center;
    align-items: center;
    padding: 8.9rem 0 10.6rem ;
    background: #e8e8e8;
    margin-top: 12rem;
    display: flex;
}
.ratingSection .left > h3{
    font-size: 3.6rem;
    color: #000;
    font-weight: 400;
    margin-top: 4rem;
    line-height: 130%;
    max-width: 59.9rem;
    font-family: var(--serif);
}
.ratingSection .right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ratingSection .right div{
    width: 46.9rem;
    height: 33.5rem;
    z-index: 0;
    transform:  skew(-10deg) translateY(-50%);
    position: absolute;
    top: 50%;
    
    background: #bcbcbc;
}

.ratingSection .right img{
    position: relative;
    width: 50.3rem;
    height: 64rem;
    z-index: 1;
}
.productSection {
    width: max-content;
    gap: 14.6rem;
}
.productSection .left img{
width: 42.3rem;
height: 53.4rem;
}
.productSection2 .left img{
width: 41rem;
height: 61.5rem;
}
.productSection2{
    gap: 19rem;
    margin-top: 6.1rem;
    margin-bottom: 10.4rem;
}
.productSection .right h1{
    max-width: 32.6rem;
    font-size: 4.8rem;
}
.productSection2 .right h1{
    max-width: 45.4rem;
}
.productSection .right button:nth-child(2){
    font-family: var(--serif);
    font-size: 3rem;
}
.productSection .right .accordians{
    margin-top: 4.4rem;
    margin-bottom: 3.7rem;
}
.productSection .right .accordian {
    margin-bottom: 1.8rem;
}
.productSection .right .accordians .accordianButton{
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 130%;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.productSection .right .accordians .accordianBody{
    display: none;
}

.productSection .left div{
    width: 42rem;
    height: 34.3rem;
    background: #bcbcbc;
    position: absolute;
    top: 50%;
    left: -3.1rem;
    transform: skew(-10deg) translateY(-50%);
    border-radius: 0;
}
.multipleProducts {
    background: #e8e8e8;
    padding: 9.9rem 0;
}
.multipleProducts .products{
    display: flex;
    gap: 5rem;
    justify-content: center;
    max-width: 1127px;
    flex-wrap: wrap;
    margin: auto;
}
.multipleProducts .products .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 33.5rem;
}
.multipleProducts .products .img {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 33.8rem;
    justify-content: center;
}
.multipleProducts .products .img img{
    position: relative;
    z-index: 1;
    max-height: 33.8rem;
    position: absolute;
    left: 50%;
    max-width: 276px;
    transform: translateX(-50%);
}
.multipleProducts .products .img div{
    transform: skew(-10deg);
    width: 27.9rem;
    height: 22.9rem;
    background: #bcbcbc;
}
.multipleProducts .products h3{
    font-size: 2.6rem;
    color: #000;
    font-weight: 400;
    font-family: var(--serif);
}
.multipleProducts .products p{
    margin-top: .6rem;
    text-align: center;

    margin-bottom: 1.2rem;
}

.subscribe{
    margin-top: 12rem;
    background: #e8e8e8;
    padding-top: 8rem;
    display: flex;
    padding-bottom: 8rem;
    justify-content: center;
    gap: 12.4rem;
    align-items: center;
}
.testimonials h2,
.multipleProducts h2,
.subscribe h2{
    font-size: 4.8rem;
    font-family: var(--serif);
    font-weight: 400;
    line-height: 125%;
    color: #333333;
    position: relative;
    max-width: 35.6rem;
}
.multipleProducts.checkoutProducts .products-container{
display: flex;
flex-wrap: wrap;
max-width: 955px;

margin: auto;
}
.checkoutTotal{
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    max-width: 955px;
    
}

.multipleProducts h2{
    margin: auto;
    width: max-content;
    max-width: max-content;
}

.testimonials h2 {
    position: relative;
}
.testimonials h2 img{
    position: absolute;
    left: 0;    width: 100%;

    bottom: -.3rem;
}
.multipleProducts h2 img{
    position: absolute;
    left: 9.9rem;
    width: 15.4rem;
    bottom: 0;
}
.testimonials > p,
.multipleProducts > p{
    max-width: 52.6rem;
    margin: auto;
    margin-top: 1.9rem;
    text-align: center;
}
.testimonials > p{
    margin-top: 2.1rem;
}
.checkoutTotal h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.testimonials{
   padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    gap: 10.5rem;
    
}
.testimonials .testimonials-container .testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 44.1rem;
}
.testimonials .testimonials-container .testimonial p{
    font-size: 2rem;
    color: #000;
    text-align: center;
    font-family: var(--serif);
    margin-top: 1.3rem;
}
.testimonials .testimonials-container .rating{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.8rem;
    align-items: center;
}
.testimonials .testimonials-container .rating img{
    width: 3.7rem;
    height: 3.5rem;
}
.testimonials .testimonials-container .testimonial h2{
    font-size: 3.6rem;
    color: #333333;
    line-height: 145%;
    font-family: var(--serif);
}

.testimonials .testimonials-container .testimonial h3{
    font-size: 2rem;
    font-family: var(--serif);
    font-weight: 400;
    color: #A0A79A;
}
.subscribe h2 img{
    position: absolute;
    left: .3rem;
    width: 29.9rem;
    bottom: -.3rem;
}
.subscribe .right.checkout input,
.subscribe .right:not(.checkout){
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid #A0A79A;
    display: flex;
    align-items: center;
    min-width: 70rem;
}
.subscribe .right.checkout{
flex-direction: column;
width: 112.6rem;
}
.subscribe .right.checkout h2{
    margin-bottom: 2rem;
}
.subscribe .right .input{
    margin-bottom: 2rem;
    gap: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe .right .input{
} 
.subscribe .right .input input{
    min-width: 49%;
    width: 100%;
}
.subscribe .right input{
    background: transparent;
    border: 0;
    outline: none;
    width: -webkit-fill-available;
    font-size: 1.8rem;
}
.subscribe .right input::placeholder{
    color: #A0A79A;
}
.successfullOrder .container button,
.multipleProducts .products button,
.subscribe .right button{
    font-size: 1.8rem;
    padding: 1.3rem 3.5rem;
    width: max-content;
    text-wrap: nowrap;
    background: #000;
    color: white;
    border: 0;
    border-radius: .5rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    padding-top: 6.4rem;
    padding-bottom: 6.6rem;
}
footer h2{
    font-size: 3.4rem;
    font-weight: 800;
    color: white;
    line-height: 125%;
    margin-bottom: 4.3rem;
}
footer .links{
    display: flex;
    align-items: center;
    gap: 3.3rem;
    margin-bottom: 5rem;
}
footer .links a{
    font-size: 1.8rem;text-decoration: none;
    line-height: 125%;
    color: white;
}
footer .icons{
    display: flex;
    gap: 2.9rem;
}
footer .icons img{
    width: 2.2rem;
}
footer p{
    font-size: 1.8rem;
    color: white;
    margin-top: 1.9rem;
    text-align: center;
    max-width: 95%;
}

.cartPopup{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 12;
    top: 0;
    right: -150%;
    transition: all .3s ease;
}
.cartPopup.active{
    right: 0;
}
.cartPopup .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000053;
}
.cartPopup .container{
    width: 50%;
    max-width: 50rem;
    height: 100vh;
    background: white;
    margin-left: auto;
    z-index: 10;
    padding-bottom: 11.5rem;
    position: relative;
    right: -100%;
    transition: all .3s ease;
}
.cartPopup .container{
    right: 0;
}
.cartPopup .container .cart-items{
    max-height: calc(100% - 11.5rem - 6.173rem);
    overflow: scroll;
}
.cartPopup .container .cart-items::-webkit-scrollbar{
    display: none;
}
.successfullOrder .container > h1,
.cartPopup .container .checkoutbutton h2,
.cartPopup .container > h1{
    font-size: 4.8rem;
    font-family: var(--serif);
    color: #333333;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    position: relative;
}
.successfullOrder .container > h1 span,
.cartPopup .container > h1 span{
    font-size: 2.5rem;
    color: #333333;
    cursor: pointer;
    font-family: var(--serif);
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
}
.cartPopup .cart-item{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #A0A79A;
    padding: 16px;
}
.cartPopup .cart-item img.thumbnail{
    width: 8rem;
    height: 8rem;
    background: grey;
}
.cartPopup .cart-item .delete{
    position: absolute;
    background: transparent;
    border: 0;
    right: 2rem;
    background: #333333;
    top: 2rem;
    font-size:1.8rem;
    border-radius: 6px;
    padding: 3px 8px;
    font-family: var(--serif);
    color: #fff;}
.cartPopup .cart-item .details{}
.cartPopup .cart-item .details h2{
    font-size: 1.8rem;
    line-height: normal;
    color: #333333;
    font-family: var(--serif);
}
.cartPopup .cart-item .details p{
    font-size: 1.6rem;
    margin-top: .5rem;
    color: #A0A79A;
}
.cartPopup .container .checkoutbutton {
    position: absolute;
    bottom: 16px;
    width: 100%;
}
.cartPopup .container .checkoutbutton h2{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: auto;
    align-items: flex-end;
}
.cartPopup .container .checkoutbutton h2 span{
    font-size: 3rem;
}
.cartPopup .quantity button,
.cartPopup .container .checkoutbutton button{
    font-size: 1.8rem;
    padding: 1.3rem 3.5rem;
    width: max-content;
    text-wrap: nowrap;
    background: #000;
    color: white;
    border: 0;
    border-radius: .5rem;
    margin-left: 16px;
    width: calc(100% - 32px);
}
.cartPopup .quantity button
{
    margin-left: 0;
    width: max-content;
    padding: 3px 8px 4px;
    margin-top: 5px;
}
button{
    cursor: pointer;
}
.successfullOrder{
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 11;
    top: 0;
    display: none;
}
.successfullOrder.active{
    display: block;
}
html:has(.successfullOrder.active){
    overflow: hidden;
}
.successfullOrder .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #00000053;
    left: 0;
}
.successfullOrder .container{
    width: 95%;
    max-width: 955px;
    background: white;
    border-radius: 6px;
    z-index: 10;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.successfullOrder .container p.tracking{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: #333;
    width: 100%;
    margin: 15px 0;
}
.successfullOrder .container p.tracking i{
    cursor: pointer;
}
.successfullOrder .container > h1{
    width: 100%;
}
.successfullOrder .container button{
    margin-top: 2rem;
}
.successfullOrder .container .productsList{
    width: 100%;
}
.successfullOrder .container .productsList .productItem{
    display: flex;
    text-align: left;
    margin: 10px auto;
    gap: 15px;
    width: 50%;
}

.successfullOrder .container .productsList .productItem img{
    width: 80px;
    height: 80p;
    border-radius: 6px;
}
.successfullOrder .container .productsList .productItem h3{
    font-size: 2rem;
    
}
.successfullOrder.orderDetails .container{
max-height: 95vh;
overflow: scroll;
}
.successfullOrder .container .productsList .productItem .details{
    width: -webkit-fill-available;
}
.successfullOrder .container .productsList .productItem p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width : 1280px) {
    html{
        font-size: 52.5%;
    }
}
@media screen and (max-width : 1024px) {
    html{
        font-size: 42.5%;
    }
    .testimonials .testimonials-container,
    .ratingSection,
    .hero{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2.1rem;
        text-align: center;
    }
    .testimonials .testimonials-container,
    .productSection2,
    .ratingSection{
        flex-direction: column;
    }
    .ratingSection{
        padding-bottom: 0;
    }
    .productSection2,
    .testimonials .testimonials-container{
        gap: 4rem;
    }
    .ratingSection .ratings, .hero .right .ratings,
    .hero .right .buttons{
        justify-content: center;
    }
    .checkoutTotal h2,
    .multipleProducts.checkoutProducts .products-container{
        width: 95%;
    }
    .subscribe .right.checkout h2{
        width: 100%;
        text-align: left;
    }
    .subscribe .right button{
        margin-right: auto;
        display: flex
    }
    .subscribe .right.checkout{
        width: 95%;
    }
    .subscribe .right .input{
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width : 767px) {
    .cartPopup .container{
        width: 70%;
    }
    .why-choose-us .row{
        width: 100%;
        gap: 20px;
        
        flex-direction: column;
        justify-content: space-between;
    }
    .why-choose-us .row .card{
        padding: 2rem;
        width: 100%;
        max-width: 500px;
    }
    .testimonials,
    .ratingSection{
        padding-top: 4rem;
    }
    
    .multipleProducts{
        padding: 5rem 0;
    }
    .subscribe{
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }
    .subscribe h2 img{
        left: 50%;
        transform: translateX(-50%);
    }
    .multipleProducts .products{
        flex-direction: column;
        align-items: center;
    }
}
.hamburger{
    display: none;
}
@media screen and (max-width : 500px) {
    .subscribe .right.checkout input, .subscribe .right:not(.checkout){
        min-width: 95%;
    }
.logo{
    font-size: 2rem;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25px;
}
.hamburger .line{
    width: 100%;
    transition: all .2s ease;
    transform: rotate(0);
    margin: 0;
    height: 3px;
    background: black;
    border-radius: 50px;
}
    .subscribe .right{
        width: 95%;
        min-width: 95%;
    }

    .hero .left img,
    .ratingSection .right img,
    .productSection .left img,
    .productSection2 .left img {
        width: 38rem;
        height: auto;
    }
    .ratingSection .right div{
        left: -20%;
    }
    header img.logo{
        width: 10rem;
        height: 3rem;
    }
    header nav{
        gap: 1.5rem;
        position: absolute;
        left: 0;
        top: -500px;
        background: white;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        transition: all .2s ease;
    }
    header.active nav{
        top: 54px;
    }
    header{
        justify-content: space-between;
    }
    header.active .hamburger .line:first-child{
        display: none;
    }
    header.active .hamburger .line:nth-child(2){
        transform: rotate(45deg);
    }
    header.active .hamburger .line:nth-child(3){
        transform: rotate(-45deg);
        margin-top: -8px;
    }
}


